<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="/front/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/front/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/front/css/heder_nav-menu.css" />
    <link rel="stylesheet" type="text/css" href="/front/css/about.css" />


</head>

<body>
    {{include 'front/public/header.html'}}
    <div id="header_nav-wrapper">
        <div class="header_nav">
            <h2>关于我们 About US
                <span>让品牌与您同在</span>
            </h2>



        </div>

    </div>

    <div id="main-wrapper">
        <div class="main_top">
            <div class="img-wrap clear">
                <h2>我们的工厂 Our Office Environment</h2>
                <ul class="clear">
                    {{each imgList item}}
                    <li>
                        <a href="#">
                            <img src="{{item.img_url}}" alt="{{item.title}}" />
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="content">
                <h2>关于我们 About us</h2>
                <p>{{@aboutData.content}}</p>

            </div>


        </div>







    </div>



    {{include 'front/public/footer.html'}}



</body>

</html>