<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="/front/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/front/css/common.css" />
<link rel="stylesheet" type="text/css" href="/front/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="/front/css/about.css" />


</head>

<body>
        {{include 'front/public/header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>关于我们 About US <span>让品牌与您同在</span></h2>
    
    
    
    </div>

</div>

<div id="main-wrapper">
    <div class="main_top">
       <a href="#"><img src="/front/images/about/main_top-image.jpg" alt="&nbsp;"/></a>
        <dl>
            <dt>关于我们 About us</dt>
            <dd>{{@aboutData.content}}</dd>
  
        </dl>

    </div>
    <div class="main_center">
        <dl class="clear">
        <dt>企业使命 Enterprise Mission</dt>
        <dd><a href="#"><img src="/front/images/about/main_center-image1.jpg" /><p>创作独一无二的设计</p></a></dd>
        <dd><a href="#"><img src="/front/images/about/main_center-image2.jpg" /><p>创作独一无二的设计</p></a></dd>
        <dd style="margin-right:0;"><a href="#"><img src="/front/images/about/main_center-image3.jpg" /><p>创作独一无二的设计</p></a></dd>
        
        
        
        </dl>

    </div>
    <div class=" main_bottom">
        <ul class="clear">
            <h2>我们的办公环境 Our Office Environment</h2> 
            <li><a href="#" ><img src="/front/images/about/main_bottom-image1.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#"><img src="/front/images/about/main_bottom-image2.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0;"><img src="/front/images/about/main_bottom-image3.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#"><img src="/front/images/about/main_bottom-image4.jpg" alt="&nbsp;"  /></a></li>
            <li><a href="#"><img src="/front/images/about/main_bottom-image5.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0;"><img src="/front/images/about/main_bottom-image6.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-bottom:0;"><img src="/front/images/about/main_bottom-image7.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-bottom:0;"><img src="/front/images/about/main_bottom-image8.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0; margin-bottom:0;"><img src="/front/images/about/main_bottom-image9.jpg" alt="&nbsp;" /></a></li>
        
        
        </ul>
        
    
    </div>
    
    
    
    
    
    
</div>



{{include 'front/public/footer.html'}}
        


</body>
</html>
