<div id="footer-wrapper">
    <div class="footer-inner">
        <p>
            <a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>Copyright © 2016-2018南京希禾儿文化传媒有限公司 版权所有</p>
        <p>电话：13390782356 E-mail：390829931@qq.com 地址：南京市江宁区禄口镇马铺社区八队</p>
    </div>
</div>